
.main{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color:  #f8e5e5;
}
.formInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    gap: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8e5e5;
    width: 50%;
    gap: 15px;

}
.welcome{
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-Weight:900;
    font-Size: 60px;
    font-family: lato, serif

}
.login{
    margin: 0;
    display: block;
    justify-content: center;
    text-align: center;
    font-Weight:400;
    font-Size: 19px;

}
.loginInfo{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    margin: 0;
    width: 100%;
    height: 6vh;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;



    /*padding-left: 10px;*/
}







