.faTimes{
    color: black;
    /*margin-top: 30px;*/
    width: 25px;
    height: 25px;
}

.faBars{
    color: black;
    /*margin-top: 30px;*/
    width: 25px;
    height: 25px;
}


.menu {
    position: absolute;
    left: 0;
    z-index: 1;
    overflow-y :scroll;
    max-width: 30%;
    width: 30%;
    height: 100%;
    background-color: white;
    border: 1px solid #FF2E2E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    transform: translateX(-100%); /* Initially hide the menu off-screen */
}

.menu.active {
    transform: translateX(0); /* Show the menu when active */
}


.menu p {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s ease;
}

.menu p:hover {
    background-color: #f5f5f5;
}